
* { box-sizing: border-box }

body {
  transition: background-color 1s ease;
  width: flex;
}


.fixed{
 position:fixed;
 top:0;
 z-index: 1;
 width: 150%;
 height:100%;
 background-image:url(design2.png); background-repeat: no-repeat;  background-size: 100% 100%; 
}

*/
.content{margin-top:57px;}

.upper-container
{
    text-align: center;
}

.text
{
     font-family: 'Staatliches', cursive;
    line-height: 1;

    letter-spacing: -.07em;

    color: #fff;
}

.fyi
{
     font-family: 'Staatliches', cursive;
    font-size: 80px;
    line-height: 1;

    margin-top: -11px;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;

    color: #854399;
}

.animate .fyi
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

span
{
     font-family: 'Staatliches', cursive;
    font-size: 40px;

    text-transform: uppercase;

    opacity: 0;
    color: #fff;

    filter: alpha(opacity=0);
}

.on
{
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
    word-spacing: 8px;
}

.mt
{
    -webkit-transition: all .3s ease-in-out 2s;
            transition: all .3s ease-in-out 2s;
    letter-spacing: -.07em;
}

.mg
{
    -webkit-transition: all .3s ease-in-out 1.7s;
            transition: all .3s ease-in-out 1.7s;
    letter-spacing: -.05em;
}

.animate .mg
{
    font-size: 300px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
    color: #94c93d;
}

.animate .mt
{
    font-size: 250px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
    color: #94c93d;
}

.animate .on
{
    font-size: 80px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
    color: #854399;

}
/* section styles */
.section {

  padding-right: 20px;
  min-height: 150px;;
  min-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Staatliches', cursive;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-green {
  background-color: rgb(6, 72, 0);
}
.color-lightgreen {
  background-color: rgb(30, 170, 8);
}
.color-black {
  background-color: black;
}
.color-purple {
  background-color: rgb(72, 5, 89);
}
.color-magenta {
  background-color: rgb(211, 13, 168);
}
.color-lime {
  background-color: rgb(42, 244, 11);
}

body {
  text-align: center;
  font-size: 120%;
  line-height: 1.618;
}

img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 20rem;
  width: 50%;
  margin-top: 10%;
  margin-bottom: .5;
  line-height: .2;

  color: white;
}
h2 {
  font-family: 'Staatliches', cursive;
  font-size: 10rem;
  width: 100%;
  margin-top: 10%;
  margin-bottom: .5;
  line-height: .2;
  color: white;
}
h3 {
   font-family: 'Staatliches', cursive;
  font-size: 2rem;
  text-align: justify;
  width: 100%;
  width: 60%;
  margin-top: 1;
  margin-bottom: .5;
  line-height: 1;
  color: #854399;
}
h4 {
  font-family: 'Staatliches', cursive;
  font-size: 2rem;
  text-align: justify;
  width: 100%;
  width: 60%;
  margin-top: 1;
  margin-bottom: .5;
  line-height: 1;
  color: white;
}
h5 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  text-align: justify;
  width: 100%;
   width: 60%;
  margin-top: 1;
  margin-bottom: .5;
  line-height: 1.2;
  color: white;
}
img {
  display:block;
  max-width: 100%;
}
}
.wrapper {
      display: flex;
      height: 15vh;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      }

.svg-btn {
      position: fixed;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    align-content: center;
      }

      svg {
      fill: #AA00D5;
      -webkit-animation: glowing-polygon 1300ms infinite;
      -moz-animation: glowing-polygon 1300ms infinite;
      -o-animation: glowing-polygon 1300ms infinite;
      animation: glowing-polygon 1300ms infinite;
      }
      @-webkit-keyframes glowing-polygon {
      0% { fill: #AA00D5; -webkit-filter: drop-shadow( 0 0 3px #AA00D5); }
      50% { fill: #AA00D5; -webkit-filter: drop-shadow( 0 0 15px #AA00D5); }
      100% { fill: #AA00D5; -webkit-filter: drop-shadow( 0 0 3px #AA00D5); }
      }
      @keyframes glowingPolygon  {
      0% { fill: #AA00D5; filter: drop-shadow( 0 0 3px #AA00D5); }
      50% { fill: #AA00D5; filter: drop-shadow( 0 0 15px #AA00D5); }
      100% { fill: #AA00D5; filter: drop-shadow( 0 0 3px #AA00D5); }
      }

         .Ellipse2 { position: fixed;
    width: 160px;
      height: 160px;
      border-radius: 50%;
    align-content: center;

    background: black;
    }
  }


}